.gif-container {
 width: 100px;
 height: 100px;
 /* border: 1px solid white; */
 margin: auto;
}

.gif {
  max-width: 100%;
  height: 100%;
  transform: scale(1);
  background-size: contain;
  background-image: url(../../images/jake.gif);
  background-repeat: no-repeat;
}

.bg-fade {
  background: rgba(0, 60, 255, 0.089);
  border-radius: 50px;
  padding: 20px;
}